body{
    background-color: #e9e9e9;
}

header{
    padding: 30px 0px 20px 0px;
}

header .logo h1{
    text-transform: capitalize;
    font-family: lato;
    font-size: 30px;
    font-weight: 900;
    color: #000000;
    margin-top: 10px;
    cursor: pointer;
}

header .logo h1 span{
    color: #ffbf00;
}

header .search-nav{
    margin-top: 5px;
    width: 100%;
    border-radius: 10px;
}

header .search-nav input{
    padding: 10px;
    font-size: 17px;
    width: 318px;
    border: 1px solid #636363;
}
  
header .search-nav button {
    float: right;
    padding: 10px 10px;
    background-color: black;
    color: #f5d000;
    font-size: 19px;
    border: none;
    cursor: pointer;
}

header nav ul{
    float: right;
    margin-top: 15px;
}

header nav ul li{
    float: left;
    list-style-type: none;
    margin-left: 60px;
}

header nav ul li a{
    display: block;
    font-family: lato;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

header nav ul li a:hover{
    border-bottom: 2px solid #f5d000;
    border-radius: 2px;
    color: #636363;
}

section.section-a{
    height: 510px;
    background-color: #e9e9e9;
    margin: 10px 0px 20px 0px;
}

section.section-a .theme{
    position: relative;
    top: 100px;
}

section.section-a .theme h1{
    font-family: lato;
    font-size: 60px;
    color: #000000;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 20px;
}

section.section-a .theme p{
    font-family: lato;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    margin-bottom: 30px;
}

section.section-a .theme .login-button span a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    font-family: lato;
    color: #f5d000;
    background-color: #000000;
    background-image: linear-gradient(to bottom right, #2e2e2e, #000000);
    border-radius: 5px;
    padding: 10px 35px;
    margin-right: 10px;
    /* transition: all 1s; */
    box-shadow: 3px 3px 4px grey;   
}

section.section-a .theme .login-button span a:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 9px grey;
    color: #000000;
    background-color: #f5d000;
    background-image: linear-gradient(to bottom right,  #fdcd3b, #e6c300);
}

section.section-a .theme-img{
    height: auto;
    width: 100%;
    position: relative;
    top: 50px;
    /* left: 250px; */
}

.section-a .theme-img img{
    display: block;
    height: 420px;
    max-width: 420px;
}

footer{
    background-color: #9b9b9b;
    height: 200px;
}

footer .contact-us h1{
    text-transform: capitalize;
    font-family: lato;
    font-size: 15px;
    color: #212121;
    font-weight: 600;
    margin: 40px 0px 5px 0px;
}

footer .contact-us a{
    color: #505050;
    font-family: lato;
    line-height: 30px;
    font-weight: 600;
    font-size: 15px
}

footer .contact-us a:visited{
    color: #003dd8;
}

footer .address{
    position: relative;
    left: 65px;
}

footer .address h1{
    text-transform: capitalize;
    font-family: lato;
    font-size: 15px;
    color: #212121;
    font-weight: 600;
    margin: 40px 0px 5px 0px;
}

footer .address p{
    font-family: 'Roman Italic';
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    font-style: italic;
}

footer .social-icons{
    margin-top: 70px;
    display: flex;
    text-align: right;
    position: relative;
    left: 30px;
}

footer .social-icons span{
    flex-grow: 1;
    padding-bottom: 10px;
}

footer .social-icons span a{
    text-decoration: none;
    font-size: 25px;
    /* color: #505050; */
}

footer .social-icons span:nth-child(1) a {
    color: #002788;
    
}

footer .social-icons span:nth-child(2) a {
    color: #4971ff;
}

footer .social-icons span:nth-child(3) a {
    color: #ff1b32;
}

footer .more{
    position: relative;
    left: 130px;
}

footer .more h1{
    text-transform: capitalize;
    font-family: lato;
    font-size: 15px;
    color: #212121;
    font-weight: 600;
    margin: 40px 0px 5px 0px;
}

footer .more a{
    color: #505050;
    font-family: lato;
    line-height: 30px;
    font-weight: 600;
    font-size: 15px
}