<body>
    <div>
        <div class="header_titleWrap">
            <h1 class="header_title">
                About GoldThrift.
            </h1>
            <p>
                Everything you feel to know about your fave fashion brand. And then some.</p>
        </div>
        <section>
                <div class="pic_container">
                    <div class="row">
                    <div class="col">
                        <img class="imgclass" src="../../../assets/bag_1.jpg" data-src="" alt="">
                    </div>
                    <div class="col">
                        <img class="imgclass" src="../../../assets/bag_2.jpg" data-src="" alt="">
                    </div>
                    <div class="col">
                        <img class="imgclass" src="../../../assets/bag_3x.jpg" data-src="" alt="">
                    </div>
                    </div>
                    <div class="quote">
                        <p>
                        
                            "At GoldThrift, our customer is a priority.
                            Whether you are aware of it or not, once you reach a certain stage in life, everything around you 
                            becomes a bit mature. You start leading a busier live with more hectic schedules, you are more 
                            confident, sophisticated and you kinda have figured out your personal style. At this stage, the 
                            bags you carry or the accessories you wear matters. You need the power of an amazing bag or accessory 
                            to up any look. It could be a beautiful tote bag that pulls a skirt and blouse together for the office 
                            or a perfectly classic yet evening-appropriate chain-strap bag or clutch purse that becomes your 
                            night-out go to. You can also decide to turn heads with unique and top quality bags or watches that 
                            are difficult to find elsewhere. That's where we come in. GoldThrift is your number one source 
                            for "Alternative Luxury" Bags & Accessories. 
                            We understand you, and we know products you would love."" 
                        </p>
                    </div>  
                </div>
        </section>
    </div>
</body>    