<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoldThrift</title>
</head> -->
<app-header></app-header>
    <form id="msform" action="/login">
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Create your account</h2>
            <h3 class="fs-subtitle"></h3>
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="pass" placeholder="Password" />
            <input type="password" name="cpass" placeholder="Confirm Password" />
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">secured</h3>
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="lname" placeholder="Last Name" />
            <input type="text" name="phone" placeholder="Phone" />
            <textarea name="address" placeholder="Address"></textarea>
            <div type="submit" value="Submit" class="signup-button">
                <a routerLink="/login">Sign Up</a>
            </div>
        </fieldset>
    </form>
    <app-footer></app-footer>
    
<!-- <footer>
    <div class="row rows">
        <div class="col">
            <div class="contact-us" data-aos="fade-left" data-aos-delay="800">
                <h1>Contact Us:</h1>
                <a style="color:whitesmoke;" href="mailto:someone@example.com">hello@goldthrift.com</a><br>
                <a style="color:rgb(7, 7, 7);" href="tel:+2348156664193">+234-815-666-4193</a>

            </div>
        </div>
        <div class="col">
            <div class="address" data-aos="fade-left" data-aos-delay="1150">
                <h1>Headquarters</h1>
                <p>ASSBIFI House,<br>
                    4 ASSBIFI Road, Central Business District,<br>
                    Alausa, Ikeja,<br>
                    Lagos.
                </p>
            </div>
        </div>
        <div class="col" data-aos="fade-left" data-aos-delay="1500">
            <div class="more" data-aos="fade-left" data-aos-delay="1500">
                <h1>More...</h1>
                <a style="color:rgba(0, 0, 0, 0.699)" href="/about-us">About Us</a><br>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Refund Policy</a>
            </div>
        </div>
        </div>
</footer> -->
<!-- </html> -->