<body>
    <div>
        <div class="header_titleWrap">
            <h1 class="header_title">
               Fashion for Her
            </h1>
            <p>
               let's paint the mood queens!</p>
        </div>
        <section>
                <div class="pic_container">
                    <div class="row">
                        <div class="col">
                            <img class="imgclass" src="../../../assets/bag_1.jpg" data-src="" alt="">
                        </div>
                        <div class="col">
                            <img class="imgclass" src="../../../assets/bag_2.jpg" data-src="" alt="">
                        </div>
                        <div class="col">
                            <img class="imgclass" src="../../../assets/bag_2.jpg" data-src="" alt="">
                        </div>
                    </div>
                    
                </div>
        </section>
    </div>
</body>    

