<!-- multistep form -->
<body>
    <form id="msform">
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Enter your registration details </h2>
            <h3 class="fs-subtitle"></h3>
            <input type="text" name="email" placeholder="Enter email" />
            <br>OR<br><br>
            <input type="text" name="phone" placeholder=" Phone number" />
        
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
    </form>
    </body>