
<footer>
    <div class="row rows">
        <div class="col">
            <div class="contact-us" data-aos="fade-left" data-aos-delay="800" data-aos-once="true">
                <h1>Contact Us:</h1>
                <a style="color:whitesmoke;" href="mailto:someone@example.com">hello@goldthrift.com</a><br>
                <a style="color:rgb(7, 7, 7);" href="tel:+2348156664193">+234-815-666-4193</a>

            </div>
        </div>
        <div class="col">
            <div class="address" data-aos="fade-left" data-aos-delay="1150" data-aos-once="true">
                <h1>Headquarters</h1>
                <a href=
                "https://www.google.com/maps/dir/6.6205318,3.3489769/ASSBIFI+House,+4+ASSBIFI+Road,+Central+Business+District,
                +Alausa,+Ikeja,+Lagos.
                /@6.6174472,3.3417431,15z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x103b93c8f0c8f513:0xafcc87eaf4f3fbae!2m2!1d3.356198!2d6.6185671" target="_blank">
                ASSBIFI House,<br>
                    4 ASSBIFI Road, Central Business District,<br>
                    Alausa, Ikeja,<br>
                    Lagos.
            </a>
            </div>
        </div>
        <div class="col">
            <div class="more" data-aos="fade-left" data-aos-delay="1500" data-aos-once="true">
                <h1>More...</h1>
                <a style="color:rgba(0, 0, 0, 0.699)" href="/about-us">About Us</a><br>
                <a RouterLink="#">Privacy Policy</a><br>
                <a RouterLink="#">Refund Policy</a><br>
                
            </div>
        </div>
        <div class="col">
            <div class="socialposition" data-aos="fade-left" data-aos-delay="1850" data-aos-once="true"><p style="padding-top: 21px;">Follow us:</p>
                <div><!-- Add font awesome icons -->
                    <a href="https://www.facebook.com/UpperlinkNg/"target="_blank" class="fab fa-facebook-f socialmedia" style="color: rgb(5, 72, 195); text-decoration: none;"></a>
                    <a href="https://twitter.com/upperlinkng?lang=en"target="_blank" class="fab fa-twitter socialmedia"  style="text-decoration: none;"></a>
                    <a href="https://instagram.com/upperlink_ng/" target="_blank"class="fab fa-instagram socialmedia" style="color:rgb(156, 2, 156); text-decoration: none;" ></a>
                    <a href="https://chat.whatsapp.com/HSckTUvrnZYCkH8JjLU57i" target="_blank"class="fab fa-whatsapp socialmedia" style="color: rgb(24, 253, 24); text-decoration: none;"></a><br>
                    <p style="padding-top: 20px;">Subscribe to our Newsletter:</p>
                    <div class="newsinline">
                        <form id="search" class="form-inline" (ngSubmit) = "showAlert()" >
                            <input class="form-control mr-sm-2 formcolor" type="email" placeholder="Enter your email address" aria-label="Newsletter">
                            <span>
                                <button class="submit action-button send-btn"  (click)="showAlert()">send</button>
                                <!-- <div id="subscribe"></div> -->
                            </span>
                                <!-- <div id="subscribe" class="submitalert animate__animated animate__delay-3s animate__fadeOutUp">
                                    <span class="closesubmitted">&times;</span>
                                    Subscribed!
                                </div> -->
                        </form>
                        <a style="font-size: smaller;">By entering your email, you agree to our Terms of Service and Privacy Policy.</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</footer>
<div class="floor">
    <p class="floorwriteup">©2021 GoldThrift Stores Nigeria Limited. All Rights Reserved. | <a href="/about-us">About Us</a></p>
</div>