<footer>
    <div class="grid-container">
        <div class="grid-20">
            <div class="contact-us">
                <h1>Contact Us:</h1>
                <a style="color:whitesmoke;" href="mailto:someone@example.com">hello@goldthrift.com</a><br>
                <a style="color:rgb(7, 7, 7);" href="tel:+2348156664193">+234-815-666-4193</a>
                
            </div>
        </div>
        <div class="grid-25">
            <div class="address">
                <h1>Headquarters</h1>
                <p>ASSBIFI House,<br>
                    4 ASSBIFI Road, Central Business District,<br>
                    Alausa, Ikeja,<br>
                    Lagos.
                </p>
            </div>
        </div>
        <div class="grid-25">
            <div class="more">
                <h1>More...</h1>
                <a style="color:rgba(0, 0, 0, 0.699)" href="/about-us">About Us</a><br>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Refund Policy</a>
            </div>
        </div>
        <div class="social-icons">
            <span><a><i class="fa fa-facebook-f" title="Facebook"></i></a></span>
            <span><a><i class="fa fa-twitter" title="Twitter"></i></a></span>
            <span><a><i class="fa fa-instagram" title="Instagram"></i></a></span>
        </div>
    </div>
</footer>
