
<footer>
    <div class="row rows">
        <div class="col">
            <div class="contact-us" data-aos="fade-left" data-aos-delay="800">
                <h1>Contact Us:</h1>
                <a style="color:whitesmoke;" href="mailto:someone@example.com">hello@goldthrift.com</a><br>
                <a style="color:rgb(7, 7, 7);" href="tel:+2348156664193">+234-815-666-4193</a>

            </div>
        </div>
        <div class="col">
            <div class="address" data-aos="fade-left" data-aos-delay="1150">
                <h1>Headquarters</h1>
                <p>ASSBIFI House,<br>
                    4 ASSBIFI Road, Central Business District,<br>
                    Alausa, Ikeja,<br>
                    Lagos.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="more" data-aos="fade-left" data-aos-delay="1500">
                <h1>More...</h1>
                <a style="color:rgba(0, 0, 0, 0.699)" href="/about-us">About Us</a><br>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Refund Policy</a><br>
                
            </div>
        </div>
        <div class="col">
            <div class="socialposition" data-aos="fade-left" data-aos-delay="1500">
                <div><!-- Add font awesome icons -->
                    <a href="#" class="fab fa-facebook-f socialmedia" style="color: rgb(5, 72, 195); text-decoration: none;"></a>
                    <a href="#" class="fab fa-twitter socialmedia"  style="text-decoration: none;"></a>
                    <a href="#" class="fab fa-instagram socialmedia" style="color:rgb(156, 2, 156); text-decoration: none;" ></a>
                    <a href="#" class="fab fa-whatsapp socialmedia" style="color: rgb(24, 253, 24); text-decoration: none;"></a>
                </div>
            </div>
        </div>
        </div>
</footer>