  
.centerme{
    display: flex;
    justify-content:center;
    padding-top: 8rem;
}
.text{
    text-align: center;
}

/* Media queries */

@media (max-width: 767px){
    h3,h5,button{
        font-size: medium;
    }
}

@media (max-width: 484px){
    h3,h5, button{
        font-size: small;
    }
}
@media (max-width: 399px){
    h3,h5{
        text-align: center;
    }
}