
<app-header></app-header>
<div class="mybody">
    <section>
            <div class="row rows">
                <div class="col writeup">
                    <h1>Get your <br> Designer Bags</h1>
                    <p>...at low cost prices.</p>
                    <div class="login-button">
                        <span><a href="/signup">Sign Up</a></span>
                        <span><a href="/login">Log In</a></span>
                    </div>
                </div>
            
                <div class="animate ">
                    <div class="image-prefix" data-aos="fade-left" data-aos-delay="800">
                        
                        <img src="../../../assets/Online_shopping_PNG.png">
                    </div>
                </div>
                
            </div><br><br><br><br><br><br><br><br>
            <div class="flex-container">
                <span class="women"><a href="/women">Shop Women</a></span>   
                <span class="men"><a href="/men">Shop Men</a></span> 
            </div>
    </section>  
  

<app-footer></app-footer>