<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoldThrift</title>
</head>

<body>
    <section class="section-a">
        <div class="grid-container">
            <div class="row rows">
            <div class="col">
                <div class="theme">
                    <h1>Get your <br> Designer Bags</h1>
                    <p>...at low cost prices.</p>
                    <div class="grid-container">
                        <div class="login-button">
                            <span><a href="/signup">Sign Up</a></span>
                            <span><a href="/login">Log In</a></span>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="theme-img image-prefix " data-aos="fade-left" data-aos-delay="800">
                    <img src="../../../assets/Online_shopping_PNG.png">
                </div>
            </div>
        </div>
        </div>
    </section><br>
    <div class="flex-container">
        <span class="women"><a href="/women">Shop Women</a></span>   
        <span class="men"><a href="/men">Shop Men</a></span> 
    </div>  
</body>

<footer>
    <div class="grid-container">
        <div class="row rows">
        <div class="col">
            <div class="contact-us" data-aos="fade-left" data-aos-delay="800">
                <h1>Contact Us:</h1>
                <a style="color:whitesmoke;" href="mailto:someone@example.com">hello@goldthrift.com</a><br>
                <a style="color:rgb(7, 7, 7);" href="tel:+2348156664193">+234-815-666-4193</a>

            </div>
        </div>
        <div class="col">
            <div class="address" data-aos="fade-left" data-aos-delay="1150">
                <h1>Headquarters</h1>
                <p>ASSBIFI House,<br>
                    4 ASSBIFI Road, Central Business District,<br>
                    Alausa, Ikeja,<br>
                    Lagos.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="more" data-aos="fade-left" data-aos-delay="1500">
                <h1>More...</h1>
                <a style="color:rgba(0, 0, 0, 0.699)" href="/about-us">About Us</a><br>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Refund Policy</a>
            </div>
        </div>
        </div>
    </div>
</footer>
</html>