<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand{-sm|-md|-lg|-xl|-xxl}">
    <div class="container-fluid">
        <div class="grid-33">
            <div class="logo">
                <a href="/home" class="navbar-brand">
                    <h1><span style="color: gold;">Gold</span>Thrift</h1>
                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form id="search" class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto ml-auto mb-2 mb-lg-0">
                


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ml-auto" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Women
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">New items</a></li>
                        <li><a class="dropdown-item" href="#">Bags</a></li>
                        <li><a class="dropdown-item" href="#">Shoes</a></li>
                        <li><a class="dropdown-item" href="#">Accessories</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Men
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">New items</a></li>
                        <li><a class="dropdown-item" href="#">Bags</a></li>
                        <li><a class="dropdown-item" href="#">Shoes</a></li>
                        <li><a class="dropdown-item" href="#">Accessories</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
   
                    </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Budget</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">N10,000 - N40,000</a></li>
                            <li><a class="dropdown-item" href="#">N40,000 - N80,000</a></li>
                            <li><a class="dropdown-item" href="#">N80,000 - N120,000</a></li>
                            <li><a class="dropdown-item" href="#">Above N120,000</a></li>
                            </ul>
                    </li>        
               
            </ul>
                <a style="color:rgba(0, 0, 0, 0.699); padding-right: 15px;" href="/about-us">About Us</a>
               
            </ul>
                <a style="color:rgba(0, 0, 0, 0.699); padding-right: 30px;" href="/about-us">About Us</a>
        </div>
    </div>
</nav>
