<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand{-sm|-md|-lg|-xl|-xxl}">
    <div class="container-fluid" >
        <div>
            <div class="logo">
                <a href="" class="navbar-brand">
                    <h1><span style="color: gold;">Gold</span>Thrift</h1>
                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-light bg-light " id="navbarSupportedContent" >

            <form id="search" class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark input-group-append my-2 my-sm-0" type="submit"><i
                        class="fa fa-search"></i></button>
            </form>

            <ul class="navbar-nav me-auto ml-auto mb-2 mb-lg-0">



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ml-auto" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Women
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/women">New items</a></li>
                        <li><a class="dropdown-item" routerLink="#">Bags</a></li>
                        <li><a class="dropdown-item" routerLink="#">Shoes</a></li>
                        <li><a class="dropdown-item" routerLink="#">Accessories</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                    </ul>
                </li>
                <ul>
                    <li class="nav-item dropdown help">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Men
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/men">New items</a></li>
                            <li><a class="dropdown-item" routerLink="#">Bags</a></li>
                            <li><a class="dropdown-item" routerLink="#">Shoes</a></li>
                            <li><a class="dropdown-item" routerLink="#">Accessories</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                        </ul>
                </ul>


            </ul>
            <div class="text">
                <span class="text-muted"><a RouterLink="#" class="icon icon-sm rounded-circle border" style="color: black; padding: 5px"><i
                            class="fa fa-user "></i></a></span>
            </div>
            <div class="widget-header iconspace mr-3">

                <a RouterLink="#" class="icon icon-sm rounded-circle border iconspace" style= "color: black;"><i class="fa fa-shopping-cart"></i></a>
                <i class="badge badge-pill badge-danger notify">3</i>

            </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle helppad" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="color: black;"><i class="far fa-question-circle"></i>
                    Help
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a style="color:rgba(0, 0, 0, 0.699); padding-right: 15px; text-decoration: none;" href="/about-us">About Us</a></li>
                    <li><a style="color:rgba(0, 0, 0, 0.699); padding-right:30px; text-decoration: none" RouterLink="/#">Help & FAQs</a></li>

                </ul>





        </div>
    </div>
</nav>