<header>
    <div class="grid-container">
        <div class="grid-33">
            <div class="logo">
                <h1><span>Gold</span>Thrift</h1>
            </div>
        </div>
        <div class="grid-33">
            <div class="search-nav">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search..." name="search">
                    <span><button type="submit"><i class="fa-fa-search" aria-hidden="true"></i></button></span>
                </form>
            </div>
        </div>
        <div class="grid-33">
            <nav>
                <ul>
                    <li><a href="#">WOMEN</a></li>
                    <li><a href="#">MEN</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
