<body>
    <div>
        <div class="header_titleWrap">
            <h1 class="header_title">
                Men's Classics.
            </h1>
            <p>
               Feel your class.</p>
        </div>
        <section>
                <div class="pic_container">
                    <div class="row">
                        <div class="col">
                            <img class="imgclass" src="../../../assets/bag_3x.jpg" data-src="" alt="">
                        </div>
                        <div class="col">
                            <img class="imgclass" src="../../../assets/bag_3x.jpg" data-src="" alt="">
                        </div>
                        <div class="col">
                            <img class="imgclass" src="../../../assets/bag_3x.jpg" data-src="" alt="">
                        </div>
                    </div>
                    
                </div>
        </section>
    </div>
</body>    
