<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoldThrift</title>
</head>
<body>
    <div>
        <div class="header_titleWrap">
            <h1 class="header_title">
                Men's Classics.
            </h1>
            <p>
               <b>Feel Your Class.</b></p>
        </div>
        <section>
                <div class="pic_container">
                    <div class="row rows">
                        <div class="col" >
                            <a href="#">
                            <img class="imgclass"  src="../../../assets/bag_3x.jpg" data-src="" alt=""><br></a>
                            <b style="font-family:Georgia, 'Times New Roman', Times, serif">Men's leather side bag</b><br>
                            <b>N12,000</b>

                        </div>
                        <div class="col">
                            <a href="#">
                                <img class="imgclass"  src="../../../assets/men_2.jpg" data-src="" alt=""><br></a>
                                <b style="font-family:Georgia, 'Times New Roman', Times, serif">Men's Office Jack</b><br>
                                <b>N22,000</b>
                        </div>        
    
                        <div class="col">
                            <a href="#">
                                <img class="imgclass"  src="../../../assets/men_3.jpg" data-src="" alt=""><br></a>
                                <b style="font-family:Georgia, 'Times New Roman', Times, serif">Classic traveller</b><br>
                                <b>N16,000</b>
    
                        </div>
                    </div>
                    
                </div>

                <div class="pic_container">
                    <div class="row rows">
                        <div class="col">
                            <a href="#">
                                <img class="imgclass"  src="../../../assets/men_4.jpg" data-src="" alt=""><br></a>
                                <b style="font-family:Georgia, 'Times New Roman', Times, serif">Dome Back Pack</b><br>
                                <b>N8,000</b>
    
                        </div>
                        <div class="col">
                            <a href="#">
                                <img class="imgclass"  src="../../../assets/men_5.jpg" data-src="" alt=""><br></a>
                                <b style="font-family:Georgia, 'Times New Roman', Times, serif">Old Town Classics</b><br>
                                <b>N18,000</b>
    
                        </div>
                        <div class="col">
                            <a href="#">
                                <img class="imgclass"  src="../../../assets/man_6.jpg" data-src="" alt=""><br></a>
                                <b style="font-family:Georgia, 'Times New Roman', Times, serif">Prestige</b><br>
                                <b>N14,000</b>
    
                        </div>
                    </div>
                    
                </div>
                <div class="pic_container">
                    <div class="row rows">
                        <div class="col">
                            <a href="#">
                                <img class="imgclass"  src="../../../assets/man_7.jpg" data-src="" alt=""><br></a>
                                <b style="font-family:Georgia, 'Times New Roman', Times, serif">King's Pack</b><br>
                                <b>N28,000</b>

                        </div>
                        <div class="col">
                            <a href="#">
                                <img class="imgclass"  src="../../../assets/man_8.jpg" data-src="" alt=""><br></a>
                                <b style="font-family:Georgia, 'Times New Roman', Times, serif">Fly-boy </b><br>
                                <b>N6,000</b>

                        </div>
                        <div class="col">
                            <a href="#">
                                <img class="imgclass"  src="../../../assets/man_9.jpg" data-src="" alt=""><br></a>
                                <b style="font-family:Georgia, 'Times New Roman', Times, serif">Slim </b><br>
                                <b>N24,000</b>

                        </div>
                    </div>
                </div>
                

        </section>
    </div>
</body>
 
</html>


