<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="icon" href="payloticon.PNG">
        <title>Newsitetrial</title>
    </head>

<body>
<div class="row" style="background-color:rgb(13, 201, 226);">
    <div style="padding-left: 30rem; padding-top: 7rem; padding-right: 20rem; width: 50rem; background-color: rgb(13, 201, 226);">
        <form style="background-color:rgb(255, 255, 255);">
            <label for="fname" style="text-align: justify; font-size:x-large;"><b>Username:</b></label><br>
            <input type="text" id="fname" name="fname" value=" " size="50" ><br><br>
            <label for="lname" style="text-align: justify; font-size:x-large;"><b>Password:</b></label><br>
            <input type="text" id="lname" name="lname" value=" " size="50" ><br><br>
       
      

        <input type="submit" value="Enter" size="100" style="background-color: rgb(255, 255, 255); margin-left: 10rem;" >
        <br><br>
        <div style="text-align: center; color: rgb(53, 34, 226); font-size: large; padding-inline: 8rem;">Forgot_Password?</div>
      </form>
    </div>
    
    <div class="col-sm-4">
        <img class="img-responsive" src="assets/images/hero_blob.png" alt="blockchain image" style="padding-top: 5rem; padding-right: 5rem; padding-left: 1rem; padding-bottom:3rem; height:38rem;">
  </div> 
  
</div><br>
<div>
    <span>
        <a type="button" class="btn btn-primary btn-lg" href="http://localhost:4200/home">Home</a>
    </span> 
    <span style="padding-left: 72.2rem;">
        <a type="button" class="btn btn-primary btn-lg" href="http://localhost:4200/signup">Sign Up</a>
    </span>
</div>    
</body>

