<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <title>Login</title>
</head>

<body> -->

<!-- <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body> -->
<app-header></app-header>
<div class="login-section">
    <div>

        <form id="msform" style="text-align:center" data-netlify="true">
            <h1 style="text-align:center">LOGIN</h1>

            <div class="login-content form-control  col-5 align-self-center d-inline con">
                <input [(ngModel)]="email" [value]="" type="email" name="email" placeholder="Email" required>
            </div>

            <div class="login-content form-control col-5 align-self-center d-inline con">
                <input [(ngModel)]="password" [value]="" type="password" name="password" placeholder="Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required>
            </div>

            <div class="login-button">
                <a (click)="loginUser()">log In</a>
            </div>

            <div class="signup">
                <p><a style="color:rgb(38, 123, 235);" routerLink="/forgot-password">Forgot Password?</a></p><br>
                <p>Don't have an Account? <a style="color:rgb(38, 123, 235); text-decoration: none;"
                        routerLink="/signup">Sign
                        Up</a></p>
            </div>
        </form>
    </div>
    <div></div>
</div>
<app-footer></app-footer>
<!-- <img src="../../../assets/GoldThrif Logo.png" style="height:200px; width:250px; padding-top:20px; margin-left: 100px;" alt="shoppingcart"> -->
<!-- <footer>
    <div class="row rows">
        <div class="col">
            <div class="contact-us" data-aos="fade-left" data-aos-delay="800">
                <h1>Contact Us:</h1>
                <a style="color:whitesmoke;" href="mailto:someone@example.com">hello@goldthrift.com</a><br>
                <a style="color:rgb(7, 7, 7);" href="tel:+2348156664193">+234-815-666-4193</a>

            </div>
        </div>
        <div class="col">
            <div class="address" data-aos="fade-left" data-aos-delay="1150">
                <h1>Headquarters</h1>
                <p>ASSBIFI House,<br>
                    4 ASSBIFI Road, Central Business District,<br>
                    Alausa, Ikeja,<br>
                    Lagos.
                </p>
            </div>
        </div>
        <div class="col" data-aos="fade-left" data-aos-delay="1500">
            <div class="more" data-aos="fade-left" data-aos-delay="1500">
                <h1>More...</h1>
                <a style="color:rgba(0, 0, 0, 0.699)" href="/about-us">About Us</a><br>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Refund Policy</a>
            </div>
        </div>
        </div>
</footer> -->

<!-- </html> -->