<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="login-section">
        <form action="#">
            <h1>Log in to your Account</h1>

            <div class="login-content">
                <input type="email" name="email" placeholder="Email">
            </div>

            <div class="login-content">
                <input type="password" name="password" placeholder="Password">
            </div>

            <div class="login-button">
                <a href="#">Log In</a>
            </div>

            <div class="signup">
                <p>Don't have an Account? <a href="#">Sign Up</a></p>
            </div>
        </form>
    </div>
</body>
</html>